#canvas{
    height: 92vh;
    padding: 0px;
    margin: 0px;
  }

  .diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: black;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 65px;
    text-align: center;
  }
